@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Cabin&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  appearance: auto;
  -webkit-appearance: none;

}

body {
  -webkit-letter-spacing: 0.4em;
  color: #6b6b6b;
  font-family: 'Secular One', sans-serif;
  height: 100dvh;
  letter-spacing: normal;
  overflow: hidden;
  user-select: none;
  width: 100dvw;
  appearance: auto;
  -webkit-appearance: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  user-select: none;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.initial-content {
  background-position: center;
  background-repeat: repeat;
  background-size: 30vw 15vh;
  align-items: center;
  animation: fadein 0.4s linear 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;
  transition: all 0.5s;
  width: 80%;
}

.initial-content.blurred {
  filter: blur(12px);
  opacity: 0.5;
}

h1 {
  font-size: calc(2.3rem + 5vmin);
  height: 2em;
  line-height: 1.06em;
}

.initial-input {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: auto;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 1em;
  box-shadow: 0.6em 0.6em 1.5vh #c5c2c28a;
  color: #6b6b6b;
  font-family: inherit;
  font-size: 4.7vmin;
  font-weight: 800;
  margin: 30px 30px;
  outline: none;
  padding: 1.5em;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.initial-input:focus {
  -webkit-box-shadow: 1em 1em 2.5vh #8f8c8c8a;
  box-shadow: 1em 1em 2.5vh #8f8c8c8a;
  outline: none;
  transform: scale(1.17);
}

.initial-input::placeholder {
  opacity: 0.3;
}

.initial-input:focus::placeholder {
  visibility: hidden;
}

.initial-input-saved {
  -webkit-box-shadow: 0.6em 0.6em 1.5vh #a1b49a;
  box-shadow: 0.6em 0.6em 1.5vh #a1b49a;
  color: #a1b49a;
}

#buttons-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  opacity: 0.8;
  width: 60%;
}

button {
  background: none;
  border: none;
  font-family: 'Secular One', sans-serif;
  font-size: 15vmin;
  transition: all 0.5s ease;
}

button:disabled {
  opacity: 0.5;
}

button:hover {
  border: none;
  cursor: pointer;
  transform: scale(1.15);
}

button:disabled:hover {
  opacity: 0.5;
  transform: scale(1);
}

.no-hover:hover {
  transform: unset;
}

#bottom-button {
  font-size: 3vmin;
  opacity: 0.2;
  transform: translateY(-40px);
}

#bottom-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: translateY(-40px) scale(1.15);
}

#can-undo {
  background-color: #9c9c9c5e;
  border-radius: 1em;
  bottom: 4%;
  font-size: 0.8rem;
  opacity: 0.7;
  padding: 0.6em;
  position: absolute;
  z-index: 1;
}

#progress-bar {

  background-color: #ffffff;
  border-radius: 1em;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: width 0.1s linear;
  z-index: -100;
}

.modal {
  align-items: center;
  animation: fadein 0.4s linear 1;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.modal-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  margin: 2.3rem 0;
  width: 80%;
}

.modal-heading {
  font-size: calc(2.15rem + 5vmin);
  line-height: 1.08em;
}

.modal-text {
  font-family: 'Cabin', sans-serif;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.5em;
  text-align: justify;
}

.modal-span {
  border: 1px solid #bcbcbc;
  border-radius: 50%;
  color: #818181;
  padding: 0 0.4em;
}

#modal-span-one {
  background-color: #f8dede;
  padding: 0 0.5em;
}

#modal-span-two {
  background-color: #edf3cd;
}

#modal-span-three {
  background-color: #d0ecf1;
}

.ready-btn {
  animation: handshake 0.5s linear infinite alternate;
  font-size: 23vmin;
  margin: 0;
  padding: 0;
}

#final-content {
  align-items: center;
  animation: fadein 0.4s linear 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
  transition: all 0.5s;
  width: 80%;
}

#final-screens-container {
  align-items: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 55vmin;
  justify-content: center;
  margin: 30px 0;
  position: relative;
  width: 55vmin;
}

.final-screens {
  align-items: center;
  border-radius: 1em;
  box-shadow: 0.6em 0.6em 1.5vh #c5c2c28a;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.final-screen-four {
  background-color: #ffe8ea;
  background-image: url(/src/static/one.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  transform: rotate(0deg);
  z-index: 4;
}

.final-screen-five {
  background-color: #fff5e8;
  background-image: url(/src/static/two.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  transform: rotate(10deg);
  z-index: 3;
}

.final-screen-six {
  background-color: #e8fffe;
  background-image: url(/src/static/three.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  transform: rotate(-10deg);
  z-index: 2;
}

.final-screen-seven {
  border: none;
  box-shadow: none;
  z-index: 1;
}

.final-screen-task {
  font-size: 5vmin;
  font-weight: 800;
  max-width: 80%;
  text-transform: uppercase;
}

.fly-away {
  animation: flyAwayAnimation 2s ease 1;
}

footer {
  bottom: 3%;
  font-family: 'Cabin', sans-serif;
  font-size: 0.5em;
  opacity: 0.5;
  position: absolute;
  text-transform: uppercase;
}

footer a {
  border-bottom: 0.5px solid;
  color: unset;
  padding-bottom: 0.5em;
  text-decoration: none;
}

#bell {
  animation: dong 0.13s infinite;
  display: inline-flex;
}

@keyframes dong {
  0% {
    transform: rotate(-7deg);
  }

  20% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(4deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-7deg);
  }
}

@keyframes handshake {
  0% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes flyAwayAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%) rotate(100deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes movein-four {
  0% {
    transform: translate(-70%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes movein-five {
  0% {
    transform: translate(70%, 0);
  }

  100% {
    transform: translate(0, 0) rotate(10deg);
  }
}

@keyframes movein-six {
  0% {
    transform: translateY(-70%);
  }

  100% {
    transform: translate(0, 0) rotate(-10deg);
  }
}

@keyframes from-hell {
  100% {
    transform: translateY(0%);
  }
}

@media screen and (orientation: landscape) {
  h1 {
    font-size: 10vmin;
    margin-bottom: 0.6em;
    max-height: 3em;
    max-width: 90%;
  }

  .initial-input {
    font-size: 7vmin;
    padding: 1.1em;
  }

  .final-screen-task {
    font-size: 6vmin;
    padding: 1em;
  }
}