@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: 'Secular One', sans-serif;
  color: #6b6b6b
}

*,
*::before,
*::after {
  /* border: 0.1px dotted rgb(35, 35, 35); */
  box-sizing: inherit;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.initial-content {
  align-items: center;
  animation: fadein 0.8s linear 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  text-align: center;
  transition: all 0.8s;
  width: 80%;
}

.initial-content.blurred {
  filter: blur(8px);
  opacity: 0.5;
}

h1 {
  font-size: 3rem;
  margin: 0;
  max-height: 3em;
  max-width: 85%;
  line-height: 1.2em;

}

.initial-input {
  font-family: inherit;
  background-color: #fff;
  border: none;
  color: #6b6b6b;
  box-shadow: 0.6em 0.6em 1.5vh #c5c2c28a;
  border-radius: 1em;
  font-size: 4.5vmin;
  font-weight: 800;
  max-width: 95%;
  outline: none;
  padding: 1.4em;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.8s ease;
}

.initial-input:focus {
  box-shadow: 1em 1em 2.5vh #8f8c8c8a;
  outline: none;
  transform: scale(1.16);
}

.initial-input::placeholder {
  opacity: 0.3;
}


.initial-input:focus::placeholder {
  visibility: hidden;
}

.initial-input-saved {
  box-shadow: 0.6em 0.6em 1.5vh #285b0c72;
  color: #285b0c72;

}

.initial-input-saved::after {
  background-image: url(static/saved.png);
  content: url(static/saved.png);
  display: inline-block;
  width: 16px;
  height: 16px;
}

.initial-input-invalid {
  box-shadow: 0.6em 0.6em 1.5vh #901021b0;
  color: #901021b0;

}

#buttons-container {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 2em;
}

button {
  background: none;
  border: none;
  color: rgb(87, 87, 87);
  font-size: calc(3rem + 2vmin);
  padding: 0.4em;
  transition: all 0.5s ease;
}

button:disabled {
  opacity: 0.5;
}

button:disabled:hover {
  opacity: 0.5;
  transform: scale(1);
}

button:hover {
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
  transform: scale(1.1);
}

.modal {
  align-items: center;
  animation: fadein 0.8s linear 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.modal-heading {
  font-size: calc(30px + 5vmin);
  margin-bottom: 16px;
  max-width: 85%;
}

.modal-text {
  font-size: calc(10px + 3vmin);
  max-width: 85%;
}

#final-content {
  align-items: center;
  animation: fadein 0.8s linear 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  text-align: center;
  transition: all 0.8s;
  width: 80%;
}

#final-screens-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 70%;
}

.final-screens {
  align-items: center;
  border: none;
  border-radius: 1em;
  box-shadow: 0.6em 0.6em 1.5vh #c5c2c28a;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  max-width: 450px;
}

.final-screen-four {
  background-color: #ffeded;
  transform: rotate(0deg);
  z-index: 4;
}

.final-screen-five {
  background-color: #fbffe6;
  transform: rotate(10deg);
  z-index: 3;
}

.final-screen-six {
  background-color: #e4fafe;
  transform: rotate(-10deg);
  z-index: 2;
}

.final-screen-seven {
  border: none;
  box-shadow: none;
  z-index: 1;
}

.final-screen-task {
  font-size: 5vmin;
  font-weight: 800;
  text-transform: uppercase;
}

#edit-button {
  transform: translateY(-120%);
  font-size: 0.7rem;
}

.fly-away {
  animation: flyAwayAnimation 2s ease 1;
}

@keyframes flyAwayAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%) rotate(100deg);
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes movein-four {
  0% {
    transform: translate(-70%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes movein-five {
  0% {
    transform: translate(70%, 0);
  }

  100% {
    transform: translate(0, 0) rotate(10deg);
  }
}

@keyframes movein-six {
  0% {
    transform: translateY(-70%);
  }

  100% {
    transform: translate(0, 0) rotate(-10deg);
  }
}

@media screen and (orientation: landscape) {
  h1 {
    font-size: 12vmin;
    margin: 0;
    max-height: 3em;
    max-width: 80%;
    line-height: 1.2em;

  }

}